/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #F2F5FF;
    text-shadow: none;
}

::selection {
    background: #F2F5FF;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #070300;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: #6699ff;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.footer-container {
  left: 0px;
  bottom: 0px;
  position: fixed;
  height: 100px;
  width: 100%;
  background: url('../img/grasscenter.png') repeat;
  border-top:0;
}

.cloud-bg {
  height: 150px;
  background: url('../img/clouds.png') repeat;
  z-index: -1;
  position:absolute;
  left:0;
  right:0;
}

section {
  text-align:center;
}

@font-face {
    font-family: 'dosregular';
    src: url('dos-webfont.eot');
    src: url('dos-webfont.eot?#iefix') format('embedded-opentype'),
         url('dos-webfont.woff') format('woff'),
         url('dos-webfont.ttf') format('truetype'),
         url('dos-webfont.svg#dosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main {
  min-height: 480px;
}

article {
  font-family: 'VT323', cursive;
}

.main article h1 {
  font-family: 'dosregular';
  font-size: 1em;
}

header {
  text-align: center;
  line-height: 1em;
}

.main section h1{
  font-family: 'VT323', cursive;
  line-height:0;
  margin: 0;
}

section p{
  font-size: 1em;
  line-height:0.2em;
}

section p.medium {
  font-size: 1em;
}

section p.large {
  font-size:1em;
}

section p.very-large {
  font-size:1em;
}

.main {
  margin:0px;
  padding:0px;
}

.footer-top{
  background: url('../img/grasstop.png') repeat-x;
  height:70px;
}

.logo img{
  width: 250px;
  margin-top: 3em;
}

.share {
  text-align: center;
  margin-top: -35px;
}

.shadow {
  text-shadow: 3px 3px #000;
  color: #ffcc00;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {

    .main {
      min-height: 1000px;
    }

    .main article {
        margin: 0 auto;
        width: 1024px;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .main article h1 {
      font-family: 'dosregular';
      font-size: 4em;
    }

    header {
      text-align: center;
      line-height: 1em;
    }

    .main section h1{
      font-family: 'VT323', cursive;
      line-height:0;
      margin: 0;
    }

    section p{
      font-size: 1em;
      line-height:0.2em;
    }

    section p.medium {
      font-size: 1.5em;
    }

    section p.large {
      font-size:2em;
    }

    section p.very-large {
      font-size:5em;
      margin:0;
    }

    .logo img{
      width: 650px;
      margin-top: 3em;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #070300 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}